# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Environment variables and sensitive files
.env
*.pem

# Virtual environments
venv/
env/

# Logs
*.log

# SQLite database
*.sqlite3
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
*.cache

# Compiled and package files
*.egg
*.egg-info/
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

#Image folder
downloaded_images